body
{
	background-color: grey;
}


#banner
{
    background-image: url(../images/audi.jpg);
	height: 600px;
	background-size: cover;
	background-position: center;
	margin-bottom: 30px;
}
#container
{
	width: 60%;
	margin: 0px auto;
	background-color: white;
	margin-bottom: 30px;
}
#banner img
{
	width: 15%;
   height: auto;
   padding-top: 10px;
   float: left;
   padding-left: 10px;
}
#banner ul
{
	float: right;
    margin-top: 30px;
}
#banner ul li
{
	display: inline;
    margin-right: 20px;
    margin-left: 20px;
}
#banner ul li a
{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
#banner ul li a:hover
{
   background-color: red;
   color: white;
   border: 2px solid red;
}
.book a
{
	text-decoration: none;
	color: black;
	border: 3px solid black;
	background-color: greenyellow;
	float: right;
	margin-top:1%;
	margin-right: 24%;
	font-size: 20px;
}
.book a:hover
{
	border: 2px solid black;
	color: white;
	background-color: black;
}
.content
{
	width: 50%;
	height: 250px;
	float: left;
	margin-top: 10px;
	padding-left: 40px;
	padding-bottom: 20px;
}
.content img
{
   width: 100%;
   height: 250px;
}
.content a:hover
{
	border: 2px solid red;

}
.book h1
{
	float: right;
	margin-top:11%;
	margin-right:23%;
	color: white;
}
.book h2
{
	margin-top: 95%;
	text-align: center;
	font-size: 30px;
}
.book h2:hover
{
   color: blue;
}

